<h1>Editing list</h1>

<%= render "form", list: @list %>

<br>

<div>
  <%= link_to "Show this list", [@list.user, @list], :class=>"btn btn-primary me-2"%>
  <%= link_to "Back to lists", user_lists_path, :class=>"btn btn-secondary me-2"  %>
</div>
