<p style="color: green"><%= notice %></p>

<p class="h1">Lists</p>

<div id="lists">
  <% @lists.each do |list| %>
  <hr>
    <%= render list %>
    <p>
      <%= link_to "Show this list", [list.user, list], :class=>"btn btn-info" %>
    </p>
  <% end %>
</div>

<hr>
<%= link_to "New list", new_user_list_path, :class=>"btn btn-success" %>
