<div id="<%= dom_id user %>">

    <p class="h3"><strong>Name:</strong> <%= user.name.capitalize %></p>
    <p><strong>ID:</strong> <%= user.id%></p>
    <p><strong>Birth date: </strong><%=user.birth_date%></p>
</div>
